body {
    margin: 0;
    font-family: Arial;
    background: #f2edd5b8;
    color: white;
}

header {
    background: #E7390D;
    padding: 20px;
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    background: #04261E;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #F26716;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #16a34a;
}

main {
    max-width: 800px;
    margin: auto;
}

button {
    transition: 0.3s;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

audio {
    width: 100%;
    margin-top: 10px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}